{{!-- 
Create/edit note content here  --}}



<form class="form" action="/note/edit" method="post">
  {{!-- <img class="img-circle" src="{{image}}" alt="{{name}}"> --}}
  <label for="name" class="form-item">
    {{!-- Content: --}}
    <input type="text" name="text" value="{{text}}">
  </label>


  <input type="submit" name="" value="Submit">
</form>
