
{{!-- Homepage is a grid of cells, each with the
ability to stick a note in it --}}

<div class="grid">
  {{#each rows}}
    <div class="row">
      {{#each this}}
        <div class="cell">
          <p>{{note}}</p>
        </div>
      {{/each}}
    </div>
  {{/each}}
</div>