
{{!-- Homepage is a grid of cells, each with the
ability to stick a note in it --}}


     <table id="grid">
            <tr>
              {{#each note}}
                <td class="cell">{{note}}</td>
              {{/each}}
            </tr>
            <tr>
              {{#each note}}
                <td class="cell">{{note}}</td>
              {{/each}}
            </tr>
            <tr>
              {{#each note}}
                <td class="cell">{{note}}</td>
              {{/each}}
            </tr>
        </table>
  </div>

