/* Add in global graphic identity i.e. font family, text styles */


/* Style the kitchen background */
body {
  background-color: #FFCCCC;
  font-family: 'Spirax', cursive;
}

/* Style the fridge itself */
#fridge {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Style the grid each cell belongs in on fridge */
#grid {
  margin-right: center;
  margin-left: center;
  margin: 0 auto;
  border-spacing: 0;
  border-collapse: collapse;
}

/* Style the grid you can add notes to on the fridge */
.cell {
  width: 8vw;
    height: 8vw;
    text-align: center;
    font-size: 300%;
    border: black solid 3px;
    color: black;
}

/* Style the note appearance/layout */
.note-layout {
  display: flex;
  flex-direction: column;
}

/* Style each kitchen magnet  */
.magnet {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}


/* Style the selecting and clicking of the magnets displayed at side of screen  */
.magnet-library {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

/* Style the form you add note's text content into  */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}
