/* Add in global graphic identity i.e. font family, text styles */

h1 {
  font-family: 'Orbitron', sans-serif;
  color:#575656;
  letter-spacing: 10px;
}

p {
  font-family: 'Edu SA Beginner', cursive; 
  color: black;
}

/* Style the kitchen background */
body {
  background-color: #a49898;
}


.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Style the fridge itself */
#fridge {
  border: rgb(221, 210, 196) solid 5px;
  margin-top: 20px;
  padding-top: 20px;
  background-color: antiquewhite;
  width: 600px;
  height: 450px;
  display: block;
  
}

.title-container {
  display: flex;
  justify-content: center;
}

.lower-half {
  border: rgb(221, 210, 196) solid 5px;
  background-color: antiquewhite;
  width: 600px;
  height: 900px;
  display: block;
}

/* .divider {
  border-top: rgb(221, 210, 196) solid 5px;
} */

/* Style the grid each cell belongs in on fridge */
#grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

/* Style the grid you can add notes to on the fridge */
.cell {
  width: 8px;
    height: 8px;
    text-align: center;
    font-size: 20px;
    border: black solid 3px;
    color: black;
}

/* Style the note appearance/layout */
.note-layout {
  display: block;
  background-color: cyan;
  border: rgb(1, 153, 153) solid 2px;
}

/* Style each kitchen magnet  */
.magnet {
  width: 20px; 
  height: auto;
}


/* Style the selecting and clicking of the magnets displayed at side of screen  */
.magnet-library {
  display: flex;
  flex-direction: column;
}

/* Style the form you add note's text content into  */
.form {
  display: block;
  background-color: cyan;
  border: rgb(1, 153, 153) solid 2px;
}
