/* Add in global graphic identity i.e. font family, text styles */


/* Style the kitchen background */
body {
  background-color: #FFCCCC;
  font-family: 'Spirax', cursive;
}

/* Style the fridge itself */
#fridge {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Style the grid each cell belongs in on fridge */
#grid {

}

/* Style the grid you can add notes to on the fridge */
.cell {

}

/* Style the note appearance/layout */
.note-layout {
  display: flex;
  flex-direction: column;
}

/* Style each kitchen magnet  */
.magnet {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}


/* Style the selecting and clicking of the magnets displayed at side of screen  */
.magnet-library {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

/* Style the form you add note's text content into  */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}
