<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Fridge</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/main.css">
    <link rel="icon" href="data:,">
  </head>
  <body>
    <div class="app">
      <div id="fridge">
        <div class="title-container">
      <h1 class="title">THE FRIDGE</h1>
      </div>
      {{{body}}}
    </div>
    <div class="lower-half">
    </div>
    </div>
  </body>
</html>
